# Ignorar modulos, están en package.json (dependencies)
/node_modules

# Archivos macOS
.DS_Store

# Ignorar config.js por la contraseña
/database/config

# Ignorar datos locales
/public/posteos
/public/foto_perfil_usuarios