<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuiteHouse</title>
    
    <link rel="icon" href="images/SH isotipo.png" type="image/png">

    <link rel="stylesheet" href="stylesheets/<%= style %>.css ">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/general.css">

    <!-- UiKit -->
    <link rel="stylesheet" href="stylesheets/uikit.min.css">
    <!-- <script src="scripts/uikit-icons.min.js"></script> -->
    <script src="scripts/uikit.min.js"></script>
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" /> -->

    <!-- UIkit JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    
    <!-- Deshabilita la funcionalidad del doble click del usuario en nuestra web -->
    <!-- <script type='text/javascript'>
        document.oncontextmenu = () => false;
    </script> -->

    <% if (style === 'editarPerfil') { %>
        <!-- Librerias para cortar imagen para agregar posteo -->
        <script src="https://cdn.jsdelivr.net/gh/jamesssooi/Croppr.js@2.3.0/dist/croppr.min.js"></script>
        <link href="https://cdn.jsdelivr.net/gh/jamesssooi/Croppr.js@2.3.0/dist/croppr.min.css" rel="stylesheet" />
        
        <!-- script para cortar imagen -->
        <script src="scripts/recortarImg.js"></script>
    <% } %>
</head>