<header>
    <section class=" uk-container uk-container-large">
        <div class="">
            <nav class="" uk-navbar>
                <div class="uk-navbar-left">
                    <h2 class="logo"><a href="/"><img src="images/SH isotipo.png" alt=""></a></h2>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li><a href="/">Home</a></li>
                        <li><a href="/registrarse">Registro</a></li>
                        <!-- Falta definir rutas -->
                        <li><a href="/login">Login</a></li>
                        <!-- Falta definir rutas -->
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <a href="/agregarPost">Agregar post</a>
                    <!-- Falta definir rutas -->
                    <form action="/resultadoBusqueda" class="uk-search uk-search-default">
                        <!-- Falta definir rutas (detalle usuario)-->
                        <span uk-search-icon></span>
                        <input type="search" class="uk-search-input" placeholder="Buscar...">
                    </form>
                </div>
            </nav>
        </div>
    </section>
</header>