/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
/* font-family: 'Cabin', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
/* font-family: 'Prompt', sans-serif; */
/* FONTS */


header{
    height: 70px;
    padding: 10px;
    background-color: #A68C7C;
}
header section{
    height: 100%;
}
header section nav{
    height: 100%;
}
header nav ul li a,
header a{
    color: white;
    font-family: 'Prompt', sans-serif;
}
header nav ul li a:hover,
header a:hover{
    color: #224A59;
    text-decoration: none;
}
.logo{
    margin: 0px;
    width: 45px;
}

header button {
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 12pt
}

header button:hover {
    color: #224A59;
}

header ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
header div.uk-navbar-center ul li{
    padding: 0 10px;
    border-right: 1px solid white;
    font-family: 'Open Sans', sans-serif;
}
header .uk-navbar-right a{
    margin-right: 15px;
    font-family: 'Prompt', sans-serif;
}

header div.uk-navbar-center ul li:nth-last-child(1){
    border-right: none;
}
header nav form input, header nav form ::placeholder, header nav form span{
    color: white !important;
    font-family: 'Prompt', sans-serif;
}