@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
/* font-family: 'Cabin', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
/* font-family: 'Prompt', sans-serif; */

#posts-card {
    min-height: calc(100vh - 105px);
}

article.post{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 10px;
}

article.post div.info-usuario{
    padding: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
}
article.post div.info-usuario img{
    border-radius: 50px;
    padding: 1px;
    border: 1px solid lightgray;
}

#foto-perfil {
    width: 45px;
}

article.post div.info-usuario h4{
    margin: 8px 10px;
    font-family: 'Cabin', sans-serif;
}

article.post div.info-usuario h4 a, article.post div.post-reacciones div.post-pie h5 a{
    color: #224A59;
}

article.post div.post-body{
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}
.post-body a{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

article.post div.post-reacciones ul.post-icons{
    padding-top: 5px;
    padding-right: 30px;
    list-style-type: none;
}

article.post div.post-reacciones div.post-pie{
    padding-left: 20px;
    border-bottom: 1px solid lightgray;
}
article.post div.post-reacciones div.post-pie h5{
    margin: 0 5px 0 0;
    font-family: 'Cabin', sans-serif;
}
article.post div.post-reacciones div.post-pie p{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
article.post div.post-comentarios {
    margin-top: 10px;
    margin-left: 20px;
}
article.post div.post-comentarios div h6{
    margin-bottom: 0;
    font-family: 'Cabin', sans-serif;
}
article.post div.post-comentarios div ul{
    list-style: none;
    margin-top: 5px
}
article.post div.post-comentarios div ul li{
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
article.post div.post-comentarios div ul li a{
    color: #224A59;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
}
article.post div.post-comentarios div ul li p{
    margin: 0 5px;
    font-family: 'Open Sans', sans-serif;
}