<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/_head') %> 

<body>
    <%- include('./partials/_headerLogueado') %>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center" id="div-card">
                <form action="/agregarPost" method="post" enctype="multipart/form-data">
                    <div class="uk-card uk-card-default uk-card-body uk-width-3-3@m">
                        <h3>Agregar posteo</h3>
                        <div class="uk-margin">
                            <div class="uk-column">
                                <div id="cargaImg" uk-form-custom="target: true">
                                    <input type="file" name="imagenPosteo" accept="image/png, .jpeg, .jpg, video/mp4, .mov, .avi"
                                        required>
                                    <input class="uk-input uk-width-large" type="text"
                                        placeholder="Seleccione una foto desde su ordenador" disabled>
                                </div>
                                <div id="caja"
                                    class="uk-container uk-container-small uk-flex uk-flex-middle uk-flex-center">
                                    <div id="preview"></div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Pie de foto</label>
                            <div class="uk-column">
                                <input class="uk-input uk-width-large" name="piePublicacion" type="text" placeholder="Pie de foto" required>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-controls uk-flex uk-flex-around">
                                <button id="borrar" class="uk-button uk-button-danger uk-width-small" type="reset"><span
                                        uk-icon="trash"></span></button>
                                <button class="uk-button uk-button-primary uk-width-small">Postear<span
                                        uk-icon="chevron-right"></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <%- include('./partials/_footer') %> 
</body>
</html>