<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_head') %>
<body>
    <%- include('./partials/_headerDeslogueado')%>
        <!-- este es el action del form registrarse -->
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
                    <div class="uk-card-primary uk-card-badge uk-card-label"><p>@<%= usuario %></p></div>
                    <!-- nuevoUsuario es el objeto que se crea al registrarse y tiene la propiedad username -->
                    <h3>Bienvenid@</h3>
                    <p>¡Tu usuario fue registrado con éxito! Ahora es momento de comenzar a usar nuestra app.</p>
                    <div class="uk-card uk-card-footer"><a href="/login">Iniciar sesión</a></div>
                </div>
            </div>
        </div>
    <%- include('./partials/_footer') %> 
</body>
</html>